<aside>
    <div id="sidebar" class="nav-collapse ">
      <!-- sidebar menu start-->
      <ul class="sidebar-menu">
        <li class="active">
          <a class="" href="/ceo-dashboard">
                        <i class="icon_house_alt"></i>
                        <span>Dashboard</span>
                    </a>
        </li>
       
        <li>
          <a class="" href="/ceo_view_all_feedback">
                        <i class="fa fa-paperclip"></i>
                        <span>FeedBack</span>
                    </a>
        </li>
            
        <li>
          <a class="" href="/ceo_view_all_request">
                        <i class="icon_genius"></i>
                        <span>Report</span>
                    </a>
        </li>
        

        

        
      <!-- sidebar menu end-->
    </div>
  </aside>