  <!-- /.content-wrapper -->
  <footer class="main-footer">
    &copy; <a target="_blank" rel="noopener noreferrer" href="https://adminlte.io">HMS</a>
    - Developed by <a target="_blank" rel="noopener noreferrer" href="https://appseed.us">HITD</a>
    <div class="float-right d-none d-sm-inline-block">
      <a target="_blank" rel="noopener noreferrer" 
          href="https://appseed.us/admin-dashboards/django-dashboard-adminlte"><img src="/static/assets/img/MOH_logo.png" alt="AdminLTE Logo" class="brand-image img-circle img-sm elevation-6" style="opacity: 1"></a> 
    </div>
  </footer>
