{% extends "Referal/regionaladmin/base_regional.html" %}
{% load static %}

{% block main_content %}

	<!-- ****************************************************** -->
	
	<!-- ****************************************************** -->
	
<!-- ****** cards end ********** -->
<div class="col-lg-12">
    <!--Project Activity start-->
    <section class="panel">
      <div class="panel-body progress-panel">
        <div class="row">
          <div class="col-lg-12 task-progress pull-left">
            <h1 align="center"><strong>LIST OF USERS IN  {{fac}} REGION</strong></h1>
          </div>
          
        </div>
      </div>
      <table class="table table-striped">
<thead>
  <tr class="bg-teal">
    <th>name</th>
    <th>Facility</th>
    <th>Mobile</th>
    
  </tr>
  </thead>
        <tbody>
				{% for c in regionuser %}
					<tr>
                                                            <td>{{c.get_name}}</td>
                                                            <td>{{c.facility}}</td>
                                                            <td>{{c.mobile}}</td>
						
          			</tr>
           		{% endfor %}
        </tbody>
		
	  </table>
	 
    </section>
<div class="pagination">
    {% if enquiry.paginator.num_pages > 1 %}
      {% if enquiry.has_previous %}
        <a href="?page={{ enquiry.previous_page_number }}">previous</a>
      {% endif %}

    <span>Page {{ enquiry.number }} of {{ enquiry.paginator.num_pages }}</span>

    {% if enquiry.has_next %}

        <a href="?page={{ enquiry.next_page_number }}">next</a>

    {% endif %}

{% endif %}</div>
  </div>
</div><br><br>



	<!-- end main content -->
	{% endblock main_content %}
