<aside>
    <div id="sidebar" class="nav-collapse ">
      <!-- sidebar menu start-->
      <ul class="sidebar-menu">
        <li class="active">
          <a class="" href="/regionaladmin-dashboard">
                        <i class="icon_house_alt"></i>
                        <span>Dashboard</span>
                    </a>
        </li>
        <li class="sub-menu">
          <a href="javascript:;" class="">
                        <i class="icon_document_alt"></i>
                        <span>Facility</span>
                        <span class="menu-arrow arrow_carrot-right"></span>
                    </a>
          <ul class="sub">
           
            <li><a class="" href="/add_facility">Add Facilities </a></li>
            <li><a class="" href="/manage_facility">Manage Facility </a></li>
            <!-- <li><a class="" href="/liaizon_approve_request">Referal In</a></li> -->
          </ul>
        </li>
        <li class="sub-menu">
          <a href="javascript:;" class="">
                        <i class="icon_desktop"></i>
                        <span>Users</span>
                        <span class="menu-arrow arrow_carrot-right"></span>
                    </a>
          <ul class="sub">
            <li><a class="" href="/regionaladmin-add-Liaizonusers">Create Liaizon</a></li>
            <li><a class="" href="/regionaladmin-add-ceousers">Create Ceo </a></li>
            <LI><a class="" href="/regional_admin_view_users">List Of Uers</a></LI>
            
          </ul>
        </li>
        <li>
          <a class="" href="/regional_admin_report_one">
                        <i class="icon_genius"></i>
                        <span>Report</span>
                    </a>
        </li>
        

        

        
      <!-- sidebar menu end-->
    </div>
  </aside>